language: python

matrix:
    include:
        - os: linux
          sudo: required
          python: "2.7"
          env: TOXENV=py27
        - os: linux
          sudo: required
          python: "3.6"
          env: TOXENV=py36
          deploy:
            provider: pypi
            user: "dwtools"
            password:
              secure: KcTGQgHGuZO4iTWcx912Y0jhxP+XjiJQX5lGz1we5e+d58tHTaPEAcNSVTvZ3+IGU0smseHw6auR/zpD4zwOhb8smZ/nKzwaEcULRwEP1TeRwy7SSIpvLYPFVa3yj7qVdvrWXm1zGh+2m6CPhkFUKbYk4qzf7BOy52LpoNjniCVWNCqwd+oesAKE7Zz8ZJnJJQly2kfz7wZJ5boX5MdtnEHivjjsAP4T1+YP+/EDhRuw0UwauTcNWKDf6QmWAzsknN95VNSRciU4Y+fizyhQ+uhtEAbduhiZF1zXEpgxbwfc8H88RynIuYFk/TKg2xKpk15FhljsT8zUPn7h0U9WWrQ9WC/qPVhE1bcAc3Jdce5zhBIJg0YIeSpGIskYMfELRp7u6MQe5MNE7EbGYWbsWVR8WfIZgnJFK7GhbDUBV8NzJlxBjSqhKOICXqHDGf59JKALQlmYZDGJJsa1TVaOZFidMjQSPacn9gPGRrbuNxU/p6vp7dlFLWIjQOHumDomk6B73l0nPSgavz3HDcfH9ue2/ehmTXSgG7v//yk0uaVZ7uTNMfjLPiVGkpL5dh3sV4VEYh8h2zmOPlNfjv2O059WvRGrMpV4WDvJjippZZgagf/TvHcawOVz8RqTZuDMqjRWBRdBhg8gESnWhlMaUrgLFV6klRYQmRwDOigYrA4=
            distributions: "sdist bdist_wheel"
            on:
              tags: true
        - os: linux
          sudo: required
          python: "nightly"
          env: TOXENV=pynightly
        - os: osx
          language: generic
          env: TOXENV=py27
          before_install:
            - brew update
            - virtualenv env -p python2
            - source env/bin/activate
        - os: osx
          language: generic
          env: TOXENV=py36
          before_install:
            - brew update
            - brew upgrade python
            - pip install virtualenv
            - virtualenv env -p python
            - source env/bin/activate

install:
    - pip install -r tests/requirements.txt
    - pip install .
    - pip install coveralls
    
script:
- coverage run -m unittest discover
- make -C ./docs/ doctest

after_success:
  - coveralls
