dimod==0.12.21  # supports 3.9-3.14

homebase==1.0.1

networkx==3.0

oldest-supported-numpy; python_version < "3.11"
numpy==2.3.2; python_version >= "3.11"  # first that supports Python 3.14

scipy==1.7.3; python_version < "3.11"
scipy==1.16.1; python_version >= "3.11"  # first that supports Python 3.14

reno==3.3.0
